* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
}

.top-header {
    background-color: #D1891C;
    color: #333333;
    padding: 1rem;
    font-size: 1.5rem;
}

.bottom-header {
    background-color: #00669F;
    color: #FFFFFF;
    font-size: 2rem;
    padding: 2rem;
}

.main-container {
    display: flex;
    background-color: #E5E5E5;
    justify-content: space-around;
}

.hero-container {
    margin-top: 5vh;
    width: 25vw;
    background-color: #F3F3F3;
    border-radius: 15px;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.bat {
    background-image: url(/img/portada-batman.png);
}

.ww {
    background-image: url(/img/portada-wwoman.png);
}

.hl{
    background-image: url(/img/portada-Harley.png);
}

.sm{
    background-image: url(/img/portada-superman.png);
}

.fas {
    color: red;
    position: absolute;
    left: 15px;
    top: 15px;
}

.profile {
    border-radius: 50%;
    height: 15vh;
    width: auto;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    color: #000000;
    font-size: 2.5rem;
}

.content-container {
    display: flex;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #333333;
    font-size: 1.2rem;
}

.boton-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.boton-container button {
    background-color: #00669F;
    border: none;
    padding: 1rem 3rem;
    border-radius: 0.2rem;
    margin-bottom: 2rem;
    color: #F3F3F3;
}


/* MEDIA QUERIES :D */
/*@media screen (478px <= width <=748px) {
    *{background-color: black;};
};*/

@media screen and (max-width: 780px) {
    .main-container {
        display: flex;
        flex-direction: column;
        background-color: #E5E5E5;
        justify-content:flex-end;
        align-items: center;
        /* ACÁ PODES USAR UNA PROP FLEX PARA ELRESPONSIVE */
    } 
    .hero-container {
        width: 50vw;
    }
}

@media screen and (max-width: 420px) {
    .main-container {
        display: flex;
        flex-direction: column;
        background-color: #E5E5E5;
        justify-content:flex-end;
        align-items: center;
        /* ACÁ PODES USAR UNA PROP FLEX PARA ELRESPONSIVE */
    } 
    .hero-container {
        width: 75vw;
    }
}
